@font-face {
    font-family: 'Signika';
    src: url("../font/Signika-Medium.ttf");
}

@font-face {
    font-family: 'SCDream';
    src: url("../font/SCDream5.otf");
}

* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}
html {
    width:100%;
    height: 100%;
}
body {
    min-height: 100vh;
}
div {
    font-family: "Signika", serif;
    font-size: 25px;
    width: 100%;
}
label {
    display: none;
}
table {
    border-collapse: collapse;
    width:100%;
}
option{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    outline: 0;
}
.firstPage, .nextPage{
    display: flex;
    width:100%;
    min-height: 100vh;
}

/*
왼쪽 부분
 */
.g-col-6{
    border: 10px solid #5392A2;
    border-radius: 15px;
    width: 44%;
    min-height: 100%;
    text-align: center;
    margin:5px;
}

#processTable {
    border-collapse : collapse;
    border-spacing : 0;
    color: #3A6E87;
    display: flex;
}

#processTable > #name, #at, #bt {
    text-align: center;
    background: #5392A2;
    font-size: 140%;
    color: white;
    padding: 5px;
}

.process-form {
    margin-top: 1px;
    color : #3A6E87;
    font-size: 25px;
}

/*#processOne > #form-container {*/
/*    overflow: auto;*/
/*}*/

[id^="id_form-"]{
    background: #CBDEE3;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 25px;
    margin: 6px 15px 6px 15px;
    width: 24%;
    color: #3A6E87;
}

/* showLog.html */
#processNAME, #processAT, #processBT{
    background: #CBDEE3;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 25px;
    margin: 6px 15px 6px 15px;
    width: 24%;
    color: #3A6E87;
    display: inline-block;
}
/* end showLog.html */

#processName{
    display: inline-block;
    color: #3A6E87;
    width:35%;
}

#plus{
    background: #92C4D0;
    width:90%;
    border: none;
    color:white;
    font-size: 25px;
    margin: 5px 2px 5px 2px;
    border-radius: 15px;
}



/*
가운데 부분
 */
.g-col-5 {
    width: 33%;
    text-align: center;
    margin: 5px;
}
/*
코어 부분
 */
.processCore{
    border:10px solid #62C184;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    width:100%;
}

.processCore > .Core > #Core{
    background: #62C184;
    font-size: 40px;
    color: white;
}
.processCore > .Core > #PCCore{
    display: flex;
    justify-content: center;
}

.CoreType{
    background: #D0EDDA;
    border: 3px solid #61C184;
    color: white;
    width: 80%;
    border-radius: 15px;
    margin: 15px;
}
#P, #E{
    width: 90%;
    justify-content: center;
    background: #D0EDDA;
    border-radius: 15px;
    border: 3px solid #61C184;
}

button{
    font-family: "Signika", serif;
    font-size: 25px;
}


/*
알고리즘
*/
#AlgorithmList{
    box-sizing: content-box;
}

.dropdown-menu {
    margin-top: 25px;
    padding: 10px;
    width:100%;
    border-radius: 15px;
    border : none;
    height: 65px;
    background: #99B0B6;
    font-size: 25px;
    color: black;
    font-family: "Signika", serif;
}

/* showLog.html */
#AlgorithmInfo {
    margin-top: 25px;
    padding: 10px;
    width:100%;
    border-radius: 15px;
    height: 65px;
    background: #99B0B6;
    font-size: 150%;
    color: black;
    font-family: "Signika", serif;
}
#quantum {
    background: #E2E4B2;
    width:75%;
    float: right;
    vertical-align: center;
    border-radius: 15px;
    font-size : 100%;
    text-align: center;
    border : none;
}
/** end ShowInfo.html **/


/*
RR
 */
#RR {
    margin-top: 10px;
    width: 100%;
}
#RR > #LabelRR{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    float: left;
    width: 20%;
}
#RR> input {
    background: #E2E4B2;
    width:75%;
    float: right;
    vertical-align: center;
    border-radius: 15px;
    font-size : 100%;
    text-align: center;
    border : none;
}

/*
시뮬레이터
 */
.simulatorTable {
    margin-top : 70px;
    border:10px solid #F8DE75;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    height: 350px;
    overflow-y: scroll;
}

.simulator{
    border-collapse : collapse;
    border-spacing: 0;
}

.simulatorTable::-webkit-scrollbar {
    display: none;
}
#logButton {
    background-color: white;
}
#logButton:active {
    background-color: #3A6E87;
    color:white;
}

#Log{
    background: #F8DE75;
    font-size: 130%;
    color: #3B6F88;
}

.simulatorTable table tbody{
    overflow-y: scroll;
    height: 30px;
}

.simulatorTable  table  tbody  tr  td  button {
    border: 5px solid #F8DE75;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 15px;
    width: 90%;
    font-size: 35px;
    color: #3B6F88;
}

.plusProcess {
    background: #F8DE75;
    color : white;
    position: sticky;
    border: none;
    border-radius: 15px;
    width: 15%;
    top: 85%;
    left : 80%;
}

#current-simulator {
    background: #D9D9D9;
    width:100%;
    height: 80px;
    border-radius: 15px;
    margin-top: 25px;

    display:table;
    table-layout:fixed;
    text-align: center;
}

#current-simulator > #current {
    font-size: 100%;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 100%;
}

#current > input {
    width: 15px;
    text-align: center;
    font-size: 100%;
    border: none;
    background-color: #D9D9D9;
    font-family: "Signika", serif;
}




/*
오른쪽 부분
 */
.g-col-1 {
    width: 25%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#goAndImage {
    flex-direction: row;
}
#go {
    padding-top:8px;
    padding-left: 8px;
    float:left;
    display: flex;
    width:40%;
    height:90%;
}

#go > #goButton {
    width: 100%;
    background: #EA315A;
    color:white;
    border: none;
    border-radius: 15px;
}

#go > #goButton:active {
    width: 100%;
    background: darkred;
    color:white;
    border: none;
    border-radius: 15px;
}
/* showLog.html */
#go > #backButton {
    width: 100%;
    background: #4A59DF;
    color:white;
    border: none;
    border-radius: 15px;
}
#go > #backButton:active {
    width: 100%;
    background: darkblue;
    color:white;
    border: none;
    border-radius: 15px;
}
/* end showLog.html */


#titleImage{
    float: right;
    display: flex;
    justify-content: right;
}
#titleImage > img {
    max-width: 100%;
}
#team_name {
    float:right;
    display: flex;
    justify-content: right;
    font-size: 180%;
    color: #4A59DF;
    width:60%;
}

.algorithmExplain{
    margin-top: 5%;
    margin-left: 1%;
    border:10px solid #9699F1;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    height:80%;
}

#explain{
    background: #9699F1;
    font-size: 140%;
    color: white;
    height:100%;
}

.algorithmExplain> .explain > #explainText > #explainText1 {
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 15px;
    width: 95%;
    font-size: 90%;
    font-family: 'SCDream', serif;
    color: #9699F1;
}

/**
번외 : 버튼 안 보이게 하기
 */
#simulatorInfo, #processSubmit, #algorithmSubmit{
    display: none;
}






/**
 다음 페이지
 */

#processTable2 {
    border-collapse: collapse;
    border-spacing: 0;
    color: #3A6E87;
    display: inline-table;
    width : 100%;
    height:100%;
}

#processTable2 > #name2, #at2, #bt2, #wt2, #tt2, #ntt2{
    text-align: center;
    background: #5392A2;
    font-size: 100%;
    color: white;
    padding: 5px;
    width: 20%;
}
#processOne2 > #processNAME2, #processAT2, #processBT2, #processWT2, #processNTT2, #processTT2 {
    text-align: center;
    color: #3A6E87;
    background: #CBDEE3;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    margin: 9px 10px 3px 10px;
    width: 10%;
    display: inline-block;
}


/**
오른쪽
 */
#rightPart {
    width: 53%;
    padding-top: 5px;
    padding-left: 5px;
}
#Performance {
    background: #F8DE75;
    font-size: 130%;
    color: #3B6F88;
    width: 100%;
}
#perform {
    width: 100%;
    box-sizing: border-box;
    height: 350px;
    align-items: center;
}
.PerformanceInfo {
    border: 5px solid #F8DE75;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 15px;
    width: 94%;
    font-size: 35px;
    color: #3B6F88;
}
#Perform{
    display: flex;
    justify-content: center;
}

#Perform div {
    font-size: 100%;
}
.performance {
    box-sizing: border-box;
    float: left;
    display: flex;
    margin-right: 5px;
    border: 10px solid #F8DE75;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    height: 380px;
}

#download>#downloadIcon {
    width: 60pt;
    background: #EA315A;
    color: white;
    border: none;
    border-radius: 15px;
}

#download>#downloadButton {
    width: 100%;
    background: #EA315A;
    color: white;
    border: none;
    border-radius: 5px;
}

#downloadBt {
    width: 60pt;
    background: #EA315A;
    color: white;
    border: none;
    border-radius: 15px;
}

#downloadBt img{
    display: block;
    width: 100%;
    height: 100%;
}

#downloadBt:hover {
    width: 60pt;
    background: darkred;
    color:white;
    border: none;
    border-radius: 15px;
}

#download>#downloadIcon:hover {
    width: 60pt;
    background: darkred;
    border: none;
    border-radius: 15px;
}

/* 간트 차트 */
.ganttChartBar {
    box-sizing: border-box;
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 10px solid #83C0B3;
    border-radius: 15px;
    text-align: center;
    height: 50%;
    width: 100%;
}

.ganttChart {
    border-collapse: collapse;
    border-spacing: 0;
    background: #83C0B3;
    font-size: 140%;
    color: #FFFFFF;
}

#ganttChartBase {
    background: #FFFFFF;
    color: #83C0B3;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    font-size: 100%;
    height: 100%;
    overflow-x: auto;
}

#baseTable {
    border-collapse: collapse;
    border-spacing: 0;
    background: #FFFFFF;
    color: #83C0B3;
    font-size: 100%;
    height: 100%;
    width: auto;
}

#ganttTable {
    background: #FFFFFF;
    color: #83C0B3;
    font-size: 100%;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

#tableRow {
    border-collapse: collapse;
    border-spacing: 0;
    background: #FFFFFF;
    color: #83C0B3;
    font-size: 100%;
    height: 100%;
    width: 100%;
}

#tableCol {
    border-collapse: collapse;
    border-spacing: 0;
    background: #FFFFFF;
    color: #FFFFFF;
    font-size: 90%;
    height: 100%;
}

#innerHeader {
    background: #FFFFFF;
    color: #83C0B3;
    font-size: 100%;

    table-layout: fixed;
    width: 100%;
}

/* 간트차트 타임 스탬프 스타일 */
#timeStamp {
    border-collapse: collapse;
    border-spacing: 0;
    background: #FFFFFF;
    color: #83C0B3;
    font-size: 80%;
    height: 100%;
    width: 30pt;
}