{% extends "base.html" %}

{% block content %}
<!-- 전체 화면 삼분할 -->
<div class="firstPage" id = "totalScreen" style="--bs-columns: 12;" >
    <!--왼쪽 구역 -->
    <div class="g-col-6" id = "process">
        <div class= "process" id = "processTable" >
            <div id ="name" style = "width: 50%">Process Name</div>
            <div id="at" style = "width: 33%">AT</div>
            <div id="bt" style = "width: 43%">BT</div>
        </div>
        <div id = "processOne">
            <form id = "form-container" method="POST">
                {% csrf_token %}
                {{ process_formset.management_form }}
                {% for form in process_formset %}
                    <div class = "process-form">
                        <span id="processName">Process 1</span> {{ form }}
                    </div>
                {% endfor %}
                <button id = "plus" type = "button"> + </button>
                <button id = "processSubmit" type="submit" name="add_process" value = "add_process"> Submit! </button>
            </form>
        </div>
    </div>

    <!--가운데 구역 -->
    <div class="g-col-5">
        <div class="processCore" id = "core&algorithm" style = "width:100%">
            <!-- Process 인덱스 부분-->
            <div class="Core">
                    <div id="Core">
                        Core
                    </div>
                <div id="PCCore">
                    {# showLog.html의 js 때문에 있는 코드 - 보이지 않음 #}
                    <div id="PCoreInfo" style = "display: none">0</div>
                    <div id="ECoreInfo" style = "display: none">0</div>
                    <div id = "PCore">
                        <button class="CoreType" id="core1" onclick="changeColor(1)" >
                            OFF
                        </button>
                        <button class="CoreType" id="core2" onclick="changeColor(2)">
                            OFF
                        </button>
                    </div>
                    <div id = "CCore">
                        <button class="CoreType" id="core3" onclick="changeColor(3)">
                            OFF
                        </button>
                        <button class="CoreType" id="core4" onclick="changeColor(4)">
                            OFF
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--알고리즘 부분-->
        <form id = "AlgorithmList" method="POST">
            <label for="Algorithm"></label>
            <select id = "Algorithm" name = "Algorithm" class="dropdown-menu" onchange="algorithmExplain(this)">
                <option value="none">== Choose Algorithm ==</option>
                <option value="BOSS">BOSS Algorithm</option>
                <option value="FCFS">FCFS (First Come First Service)</option>
                <option value="RR">RR (Round Robin)</option>
                <option value="SPN">SPN (Shortest Process Next)</option>
                <option value="SRTN">SRTN (Shortest Remaining Time Next)</option>
                <option value="HRRN">HRRN (Highest Response Ratio Next)</option>
            </select>

            <div id = "RR">
                {% csrf_token %}
                <label id = "LabelRR" for="quantum" style="display: inline">  RR (δ) : </label>
                <input type="text" id = "quantum" name="quantum" required size="10">
            </div>
            <button id = "algorithmSubmit" type="submit" name="add_algorithm" value = "add_algorithm"> Submit! </button>
        </form>

        <!--시뮬레이터 로그 부분-->
        <div class = "simulatorTable">
            <table class= "simulator" style="width:100%;">
                <tr>
                    <th id ="Log"> Simulation Log</th>
                </tr>
                <tbody id = "Logs">
                    <tr id = "logOne">
                        <td id="logName">
                            {% for simulator in simulatorLog %}
                                <button id = "logButton" onclick="window.location.href='/{{ simulator.name }}/'">
                                    Simulation {{ simulator.name }}
                                </button>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form id="current-simulator"  method="POST">
            <div id="current">
                {% csrf_token %}
                Processor : <input name="processCnt" class="processCnt" value = "1" style="width:27px" readonly> |
                P Core : <input name="PCoreCnt" class="PCoreCnt" value = "0" readonly>  |
                E Core : <input name="ECoreCnt" class="ECoreCnt" value = "0" readonly>
            </div>
            <button id = "simulatorInfo" type="submit" name="simulator_info" value = "simulator_info" style = "width: 30px; height: 30px"> go! </button>
        </form>
    </div>

    <!-- 오른쪽 구역-->
    <div class="g-col-1" id="rightContainer">
        <div id = "titleImage">
            {% load static %}
            <img src="{% static 'img/Title.png' %}" alt="Title">
            <button style="display: none" id = "downloadBt"></button>
        </div>
        <div id = "goAndImage" >
            <div id = "go">
                <button id = "goButton" type = "button" name="Go" value = "Go">GO!</button>
            </div>
            <div id = "Info">
                <button id = "InfoButton" type = "button" name = "Info">  ! </button>
            </div>
            <div id="team_name">
                BOSS
            </div>
        </div>
        <!--explain 부분 -->
        <div class="algorithmExplain" id = "algorithmExplain" style = "width:100%">
            <!-- Process 인덱스 부분-->
            <div class="explain">
                <div id="explain">
                    Explain
                </div>
                <div id="explainText">
                    <div id = "explainText1"></div>
                </div>
            </div>
        </div>
    </div>

    <!--사용 설명 팝업창-->
    <div id="Information" style="display:none;">
        <div id="HowToUse">
            <span id="closeHowToUse">x</span>
            <div> [HOW TO USE THIS WEB SITE] </div>
            <div style = "font-size: 18px"> BOSS - Process Scheduling Simulator <br> </div>
{#            {% load static %}#}
            <br> <img src="{% static 'img/HowToUse.png' %}" alt="HowToUse">

            <div id = "useInfo">
                <span>&#9312;</span> 플러스 버튼으로 프로세스를 추가할 수 있습니다. <br>
                <span>&#9313;</span> OFF 상태의 버튼을 한번 누르면 ECORE, 두 번 누르면 PCORE로 지정할 수 있습니다. <br>
                <span>&#9314;</span> 알고리즘을 설정하고 Time quantum이 필요한 경우 입력할 수 있습니다. <br>
                <span>&#9315;</span> GO! 버튼을 눌러 만들어진 이전의 시뮬레이션들을 다시 불러올 수 있습니다. <br>
                <span>&#9316;</span> 알고리즘에 대한 설명을 읽어볼 수 있습니다. <br>
                <span>&#9317;</span> GO! 버튼을 누르면 화면에 입력한 데이터를 토대로 스케쥴링이 시작됩니다.
            </div>
        </div>
    </div>

</div>

{% endblock %}